.user-profile .info {
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
}

.user-profile .info .user {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.user-profile .info .user img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.user-profile .info .user h3 {
  font-size: 2rem;
  color: var(--black);
}

.user-profile .info .user p {
  font-size: 1.7rem;
  color: var(--light-color);
  padding: .3rem 0;
}

.user-profile .info .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.user-profile .info .box-container .box {
  background-color: var(--light-bg);
  border-radius: .5rem;
  padding: 2rem;
  flex: 1 1 25rem;
}

.user-profile .info .box-container .box .flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.user-profile .info .box-container .box .flex i {
  font-size: 2rem;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  border-radius: .5rem;
  height: 5rem;
  width: 5rem;
  line-height: 4.9rem;
}

.user-profile .info .box-container .box .flex span {
  font-size: 2.5rem;
  color: var(--main-color);
}

.user-profile .info .box-container .box .flex p {
  color: var(--light-color);
  font-size: 1.7rem;
}