.question-container .btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  max-width: 50rem;
  border-radius: .5rem;
  background-color: var(--main-color);
  color: var(--white);
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.start-screen,
.video-screen,
.pdf-screen,
.quiz-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.quiz-title,
.results-title {
  font-size: 3rem;
  color: var(--dark-bg);
  margin-bottom: 1.5rem;
}

.quiz-score,
.results-score {
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.question-card,
.final-results {
  background-color: var(--white);
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 2rem 0;
}

.question-count {
  font-size: 2rem;
  color: var(--dark-bg);
  margin-bottom: 1.5rem;
}

.question-text {
  margin: 2rem 0;
  font-size: 2rem;
  color: var(--dark-bg);
}

.options-list {
  list-style: none;
  padding: 0;
}

.option-item {
  background-color: var(--hover-bg);
  margin: .5rem 0;
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1.8rem;
  color: var(--black);
}

.option-item:hover {
  background-color: var(--hover-color);
  color: var(--white);
  transform: scale(1.05);
}

iframe {
  border: none;
  border-radius: .5rem;
}

@media (max-width: 768px) {

  .question-card,
  .final-results {
    padding: 1rem;
  }

  .question-container .btn {
    font-size: 1.6rem;
    padding: .8rem 1.6rem;
  }

  .question-text {
    font-size: 1.8rem;
  }

  .option-item {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .btn {
    font-size: 1.4rem;
    padding: .6rem 1.2rem;
  }

  .question-text {
    font-size: 1.6rem;
  }

  .option-item {
    font-size: 1.4rem;
    padding: .8rem;
  }
}