
.teachers .search-tutor {
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.teachers .search-tutor input {
  width: 100%;
  background: none;
  font-size: 1.8rem;
  color: var(--black);
}

.teachers .search-tutor button {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  background: none;
}

.teachers .search-tutor button:hover {
  color: var(--main-color);
}

.teachers .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.teachers .box-container .box {
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
}

.teachers .box-container .box .tutor {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.teachers .box-container .box .tutor img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.teachers .box-container .box .tutor h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.teachers .box-container .box .tutor span {
  font-size: 1.6rem;
  color: var(--light-color);
}

.teachers .box-container .box p {
  padding: .5rem 0;
  font-size: 1.7rem;
  color: var(--light-color);
}

.teachers .box-container .box p span {
  color: var(--main-color);
}